<div class="row">
    <div class="col-md-3">
    	<p class="lead">{{{name}}}</p>
    </div>

    <div class="col-md-9">
    	<div align="right" class="embed-responsive embed-responsive-16by9">
	    <video autoplay loop muted class="embed-responsive-item">
	        {{{source}}}
	    </video>
		</div>
	</div>
</div>