<div class="row">
    <div class="col-md-4">
    	<p class="lead">{{{name}}}</p>
    </div>

    <div class="col-md-8">
    	<div align="right" class="embed-responsive embed-responsive-16by9">
	    <video autoplay loop class="embed-responsive-item">
	        <source src="https://scontent-ord1-1.cdninstagram.com/t50.2886-16/14335548_1051193988330176_850900594_n.mp4" type="video/mp4">
	    </video>
		</div>
	</div>
</div>